.cardProducto {
    width: 18rem;
    margin:4px;
    background-color: hsl(0, 0, 97%);
}

.cardProductos {
    margin:4px;
    align-items: center;
    justify-content: center;
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

.cardBodyDark {
    background-color: hsl(0, 0%, 33%);
    margin-bottom: 3px;
    text-align: center;
}

.cartContainer {
    margin-top: 3%;
    margin-left: 26,5%;
}

.cardCart {
    max-width: 640px;
}

.divButtons button {
    margin: 4px;
}

img {
    margin-top: 3px;
}

.itemDetail {
    max-width: 760px;
    margin-top: 20px;
}

.itemDetailBodyDark {
    background: hsl(0, 0%, 33%);
    color:white;
}

.contForm {
    margin-top: 20px;
}

.darkMode {
    background-color: black;
    color:gainsboro;
}